@{
    ViewBag.Title = "О лабе";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Веб-приложение "Заметки"</p>
<p>Технологии:</p>
<br />

<ul>
    <li>ASP.NET MVC 5</li>
    <li>EntityFramework</li>
    <li>C#</li>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>Bootstrap</li>
</ul>
