@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Гончаров Андрей 181-321<br />
    Московский Политех<br />
    <abbr title="Phone">P:</abbr>
    89251112233
</address>

<address>
    <strong>VK:</strong>   <a href="https://vk.com/agvue">VK</a><br />
</address>